/*Navbar*/
/* for all links */
* {
    margin: 0;
    padding: 0;
}

.L {
    color: #000;
}

.L:hover {
    text-decoration: underline;
    color: rgb(241, 6, 112);

}

/*Links dropdown*/

.product-dropdown {
    display: none;
    position: absolute;
    margin-top: 100px;
    left: 100px;
    padding: 0 50px;

    background-color: #000;
    z-index: 3232;


}

.L:hover .product-dropdown {
    display: block;
}


/*Search Box*/
.search {
    width: 340px;

}

.search input {
    width: 100%;
    outline: none;
    background: whitesmoke;
    height: 32px;

    border: 2.5px solid rgb(251, 0, 109);
    border-radius: 34px;
    padding-left: 10%;
    padding-right: 10%;
    height: 2.5rem;
}

.search-icon {
    z-index: 2;
    margin-top: -9.5%;
    margin-left: 90%;
    color: rgb(251, 0, 109);
}

.search-icon i {
    color: white;
}

/*Navbar icons*/
.wishlist,
.cart,
.user {
    font-size: 18.2px;
    transition: all 0.3s ease-in-out;
}

.wishlist:hover {
    color: rgb(251, 0, 109);
    transform: scale(1.2, 1.2);
}

.cart:hover {
    color: rgb(251, 0, 109);
    transform: scale(1.2, 1.2);
}

.user:hover {
    color: rgb(251, 0, 109);
    transform: scale(1.2, 1.2);
}

/*For animation onload*/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.col-3 img {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;


    padding: 30px;

}

.but {
    color: rgb(232, 10, 87);
    border: 1px solid rgb(232, 10, 87);
}

.but:hover {
    color: white;
    background-color: rgb(232, 10, 87);
    /* border:1px solid rgb(255, 213, 213); */
}



@media screen and (max-width:999px) {
    #i {
        width: 100%;
    }

    #j {
        width: 100%;
    }

    #aa {
        width: 100%;
    }

    #but1 {
        font-size: 15px;
    }
}